* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

#root {
  height: 100vh;
}

main {
  background-color: #CCCCCC;
  min-height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.FlexItem {
  width: 40%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#Form {
  background-color: #EEEEEE;
  padding: 1rem;
}

.FormSection {
  margin-bottom: 1rem;
}

#SubmitButton {
  background-color: #52BE80;
  color: white;
  border-radius: 3px;
  border: none;
  padding: 0.5rem;
  float: right;
  font-size: 1rem;
}

#Preview {
  background-color: #EEEEEE;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
}

#PreviewHeader {
  background-color: #343A46;
  color: white;
  min-height: 4rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.SectionHeading {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.SubsectionHeading {
  font-size: 1rem;
  padding-top: 0.5rem;
}

#UserName {
  word-wrap: break-word;
}

.Subsection {
  word-wrap: break-word;
}

.PreviewSection {
  margin-bottom: 1rem;
}

.PreviewSectionHeading {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1280px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  .FlexItem {
    min-width: 80%;
  }

  #UserName {
    font-size: 1.2rem;
  }

  #UserTitle {
    font-size: 0.8rem;
  }

  #PreviewMain {
    flex-direction: column;
  }
}